/*소주의 역사 content*/
#content{
    font-family: 'NanumBarunGothic', sans-serif;
    width: 75%;
    margin-left: 10%;
}

#history{
  
}



.content_title{
    font-size: 26px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 40px;
}

.h_num{
    display: inline-block;
    float: left;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin-right: 7px;
}

.h_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
