/*css로 smooth scrolling (only chrome)*/
html {
    scroll-behavior: smooth;
  }


body{
    margin: 0px;
}
body::-webkit-scrollbar { 
    display: none; 
} /* body 스크롤 안보이게 하기 */
#irin
{
    width: 100%;
    //z-index: -1;
}
#nav
{
    position: fixed;
    width: 100%;
    background-color: #777777;
    text-align: center;
    opacity: 0.7;
    height: 50px;
    font-size: 25px;
    z-index: 10;
}
a{
    text-decoration: none;
    vertical-align: center;
}
a:link{
    color:green;
}
a:hover{
    color: red;
}
a:visited{
    color: seagreen;
}

#history{
    background-color: #fffde5
}

/*from now on about button or sth*/
#gotop{
    float: right;
    width: 50px;
    height: 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-right: 30px;
}
#gotop:hover{
    background-color: #ddd;
    color: black;
}
#main{
    width: 90%;
}
#bigsoju{
    position: absolute; position: fixed; top: 0px; right: 0; background-color: rebeccapurple;
    height: 100%; text-align: center;
    background-color: rgba(81, 143, 81, 0.8);
}
#detail_original_soju, #detail_fruit_soju, #detail_like_soju{
    display: none;
    position: absolute; position: fixed; top: 0px; right: 0; background-color: rebeccapurple;
    height: 100%; text-align: center;
    background-color: rgba(81, 143, 81, 0.8);
}

.box{
    height: 100px; width: 100px;
    display: block; text-align: center;
    
}
.box:hover{
    background-color: seagreen;
}