/*css로 smooth scrolling (only chrome)*/
html {
    scroll-behavior: smooth;
  }


body{
    margin: 0px;
}
body::-webkit-scrollbar { 
    display: none; 
} /* body 스크롤 안보이게 하기 */
#irin
{
    width: 1537px;
    z-index: 9;
}
#nav
{
    position: fixed;
    width: 100%;
    background-color: #777777;
    text-align: center;
    /*opacity: 0.9;*/
    height: 50px;
    font-size: 25px;
    z-index: 10;
    vertical-align: center;
}
#logo{
    float: left;
    height: 50px;
}


a{
    text-decoration: none;
    vertical-align: center;
}
a:link{
    color:green;
}
a:hover{
    color: red;
}
a:visited{
    color: seagreen;
}

#history{
    background-color: #fffde5
}

/*from now on about button or sth*/
#gotop{
    float: right;
    width: 50px;
    height: 30px;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-right: 30px;
}
#gotop:hover{
    background-color: #ddd;
    color: black;
}
#main{
    width: 93%;
}
#bigsoju{
    position: absolute; position: fixed; top: 0px; right: 0; background-color: rebeccapurple;
    height: 100%; text-align: center;
    background-color: #2F3339;
    color: white;
    z-index: 11;
}
#detail_original_soju, #detail_fruit_soju, #detail_like_soju{
    display: none;
    position: absolute; position: fixed; top: 0px; right: 0; background-color: #2F3339;
    height: 100%; text-align: center;
    background-color: #2F3339;
    color: white; z-index: 11;
}

.box{
    height: 100px; width: 100px;
    display: block; text-align: center;
    border-bottom: 1px solid #000000;
}
.box:hover{
    /*background-color: #9e9d9d;*/
    cursor: pointer;
}
.show-on-scroll { visibility: hidden; }
.show-on-scroll.shown { visibility: visible; }
.show-on-5px{ visibility: hidden; }
.show-on-5px.shown { visibility: visible; }
#original{
    -webkit-transition:width 2s, height 2s, background-color 0.5s, -webkit-transform 1s;
    transition:width 2s, height 2s, background-color 0.5s, transform 2s;
}
#detail_original_soju{
    -webkit-transition:width 2s, height 2s, background-color 1.5s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 1s, transform 2s;
}
#original:hover,#detail_original_soju:hover{
    background-color: #A0D468;
}