#seoul{
    display: none;
    width: 300px;
}
#gangwon{
    display: none;
    width: 300px;
}
#choongnam{
    display: none;
    width: 300px;
}
#choongbook{
    display: none;
    width: 300px;
}
#kyoungnam{
    display: none;
    width: 300px;
}
#kyoungbook{
    display: none;
    width: 300px;
}
#jeounnam{
    display: none;
    width: 300px;
}
#jeounbook{
    display: none;
    width: 300px;
}
#busan{
    display: none;
    width: 300px;
}
#jeju{
    display: none;
    width: 300px;
}

#svgdiv{
    margin-left: 150px;
}