#seoul{
    display: none;
    width: 100px;
}
#gangwon{
    display: none;
    width: 100px;
}
#choongnam{
    display: none;
    width: 100px;
}
#choongbook{
    display: none;
    width: 100px;
}
#kyoungnam{
    display: none;
    width: 100px;
}
#kyoungbook{
    display: none;
    width: 100px;
}
#jeounnam{
    display: none;
    width: 100px;
}
#jeounbook{
    display: none;
    width: 100px;
}
#busan{
    display: none;
    width: 100px;
}
#jeju{
    display: none;
    width: 100px;
}